*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

body{
  background:#0a0a23;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

img{
  width:180px;
  margin-top:20px;
}

h1{
  color:white;
  margin-top:20px;
}

label{
   color:white;
   margin-top:20px;
}
input{
  margin-top:10px;
  padding:5px;
}

button{
  padding:5px;
  margin-top:12px;
  background:#fec748;
  border-radius:8px;
  border:2px solid #feac32;
  font-weight:bold;
  cursor:pointer;
}

.container{
  width:85%;
  background:#99c9ff;
  margin-top:15px;
  border-radius:50px;
}

#total{
  text-align:center;
  margin:20px auto;
  font-size:1.1rem;
  color:white;
  background:black;
  width:40%;
  padding:8px 12px;
}

#change{
  background:white;
  color:black;
  width:70%;
  margin:30px auto;
  padding:5px;
  border-radius:10px;
  text-align:center;
}

#change-due{
  color:white;
  text-align:center;
  margin-top:10px;
  width:100px;
}

ul{
  list-style:none;
  padding:0;
}

li{
  margin:4px 0;
}
